@font-face {
    font-family: "Muller Regular";
    src: local("Muller Regular"),
        url(fonts/fonts/MullerRegular.woff) format('woff'),
        url(fonts/fonts/MullerRegular.woff2) format('woff2');
}
@font-face {
    font-family: "Muller Medium";
    src: local("Muller Medium"),
        url(fonts/fonts/MullerMedium.woff) format('woff'),
        url(fonts/fonts/MullerMedium.woff2) format('woff2');
}
@font-face {
    font-family: "Muller Light";
    src: local("Muller Light"),
        url(fonts/fonts/MullerLight.woff) format('woff'),
        url(fonts/fonts/MullerLight.woff2) format('woff2');
}
@font-face {
    font-family: "Muller Bold";
    src: local("Muller Bold"),
        url(fonts/fonts/MullerBold.woff) format('woff'),
        url(fonts/fonts/MullerBold.woff2) format('woff2');
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #e6e6e6;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
ul {
    padding: 0;
    list-style: none;
}
.main-title {
    font-size: 40px;
    line-height: 32px;
    color: #333333;
    font-family: "Muller Regular";
    margin-left: 40px;
    margin-bottom: 25px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin: 30px 25px 30px 0;
}
.personal {
    margin-left: auto;
    font-size: 16px;
    line-height: 32px;
    color: #cc9933;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../img/next-personal.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px;
}
.header-phone {
    font-size: 22px;
    line-height: 32px;
    color: #666666;
    font-weight: bold;
    font-family: "Muller Bold";
}
.nav-bar-box {
    display: flex;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 12px;
    padding-right: 20px;
}
.header-nav {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    font-family: "Muller Regular";
}

.header-nav-list:not(:last-child) {
    padding-right: 45px;
}
.search {
    margin-left: auto;
    margin-top: 11px;
    margin-bottom: 11px;
    position: relative;
}
.header-search {
    width: 355px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: #f1f1f1;
    border-style: none;
    -webkit-appearance:none;
}
.search-btn {
    top: 10px;
    right: 20px;
    position: absolute;
    width: 23px;
    height: 23px;
    background: url("../img/search.svg") center no-repeat;
    border: none;
    cursor: pointer;
}
.header-search, .input-item::placeholder {
    font-size: 14px;
    line-height: 32px;
    color: #bebebe;
    font-family: "Muller Regular";
}
.fast-reserve-list {
    margin-bottom: 0;
}
.reserve-container {
    display: flex;
    padding-top: 50px;
}
.fast-reserve {
    margin-right: 53px;
}
.input-item {
    width: 520px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    margin-bottom: 24px;
    border-style: none;
}
.input-item::placeholder {
    font-size: 16px;
    line-height: 32px;
    color: #999999;
    font-family: "Muller Regular";
}
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
    color: #999999;
}
.reserve-btn {
    border-style: none;
    border-radius: 12px;
    background-color: #cc9933;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Muller Bold";
    text-align: center;
    padding: 20px 30px;
    margin-right: 25px;
}
.offers-lot {
    font-size: 16px;
    line-height: 32px;
    color: #cc9933;
    font-family: "Muller Regular";
}
.offers {
    font-size: 16px;
    line-height: 32px;
    color: #a0a0a0;
    font-family: "Muller Regular";
}
.special-img {
    height: 100%;
    background-image: url(../img/sale_luxary.png);
    background-repeat: no-repeat;
    
}
.special-title {
    font-size: 66px;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Muller Bold";
    margin: 0;
    padding: 262px 230px 35px 44px;
}
.price {
    padding-left: 44px;
    margin-right: 33px;
    font-size: 35px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Muller Regular";
    opacity: 0.5;
}
.special-more {
    font-size: 16px;
    line-height: 32px;
    color: #ffcc66;
    font-family: "Muller Regular";
    padding-right: 20px;
    background-image: url(../img/next-gold.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right center;
}
.about {
    margin-top: 70px;
}
.about-title {
    margin-bottom: 0;
}
.about-description {
    font-size: 16px;
    line-height: 32px;
    color: #666666;
    font-family: "Muller Regular";
    margin-left: 40px;
    margin-right: 245px;
    margin-bottom: 65px;
}

.child {
    display: inline-block;
    width: 44%;
    min-width: 565px;
    min-height: 325px;
    border-radius: 12px;
    border: none;
    margin-bottom: 24px;
    vertical-align: middle;
    position: relative;
    background-color: #ffffff;
}
.parent {
    width: 1170px;
    margin: 0 auto;
}
.right {
    margin-left: 3%;
}
.about-service-title {
    width: max-content;
    margin-top: 30px;
    margin-left: 44px;
    font-size: 22px;
    line-height: 32px;
    color: #cc9933;
    font-weight: 500;
    font-family: "Muller Medium";
    padding-right: 22px;
    background-image: url(../img/next-gold.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: right center;

}
.service-description {
    width: 406px;
    margin-left: 44px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    font-family: "Muller Regular";
}
.advantage-title {
    margin-top: 50px;
}
.advantage-card-box {
    width: 1170px;
    margin: 0 auto;
}
.advantage-card {
    display: inline-block;
    width: 23.2%;
    border-radius: 12px;
    border: none;
    margin-bottom: 24px;
    vertical-align: middle;
    position: relative;
    background-color: #ffffff;
    padding: 43px;
}
.advantage-card:not(.first) {
    margin-left: 2%;
}
.advantage-description {
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    font-family: "Muller Regular";
    margin-top: 10px;
    margin-bottom: 0;
}
.adventage-img {
    height: 60px;
}
.location-box {
    width: 1170px;
}
.location-card {
    display: inline-block;
    width: 32%;
    border-radius: 12px;
    border: none;
    margin-bottom: 22px;
    vertical-align: middle;
    position: relative;
    background-color: #ffffff;
    padding-bottom: 43px;
}
.location-card:not(.first) {
    margin-left: 1.6%;
}
.location-img {
    width: 100%;
    margin-bottom: 30px;
}
.location-description {
    margin-left: 45px;
}
.number-btn {
    margin-left: 45px;
    margin-top: 18px;
    padding: 15px 18px;
    font-size: 16px;
    color: #cc9933;
    font-weight: bold;
    font-family: "Muller Bold";
    text-align: center;
    border-radius: 12px;
    border: 1px solid #cc9933;
    background-color: #ffffff;
}
.stars {
    height: 15px;
}
.box-in-box {
    display: flex;
    flex-flow: row wrap;
    padding-right: 45px;
    justify-content: space-between;
}
.location-price {
    margin-top: 0;
}
.location-star {
    position: absolute;
    margin-left: 232px;
}
.location-country, .from {
    font-size: 16px;
    color: #969696;
    font-family: "Muller Regular";
    margin-bottom: 0;
}
.number-price {
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    font-family: "Muller Regular";
}
.location-name {
    font-size: 16px;
    line-height: 13px;
    color: #333333;
    font-family: "Muller Regular";
}
.last-card {
    background-image: url(../img/view_all.png);
    background-repeat: no-repeat;
    height: 441px;
    padding-top: 340px;
    padding-left: 35px;
    padding-right: 40px;
}
.view-all {
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Muller Medium";
    padding-right: 20px;
    background-image: url(../img/next-white.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: right center;
}

